root = true

[{CMakeLists.txt,*.cmake,*.cmake.in}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[CMakePresets.json]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{rcss,rml}]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

[*.yml]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
