# Primary CMake build target
/Build/

# Other common build targets
/build*/
/Build*/
/Bin/
/bin/
/Lib/
/lib/
/out/

# Distribution target
/Distribution/

# macOS directory info file
.DS_Store

# Hidden folders
.*/

# Not ignore .github/
!.github/

# Visual Studio project files
*.suo
*.user
*.opensdf
*.dir/
Win32/
x64/
CMakeSettings.json
